.mainDash{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    
}

@media (max-width:1200px){
    .mainDash{
        margin-top: 2rem;
        justify-content:flex-start ;
        h1{
            margin-bottom: 2rem;
        }
    }
}

// @media screen and (max-width: 768px) {
//     .mainDash{
        
// }
// }

