.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(250px, 90%), 1fr));
    gap: 1rem;
    .parentContainer {
        width: 100%;
    }
}

@media screen and (max-width: 1200px) {
    .cards {
        flex-direction: column;
    }
}
